{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content%}
<div class="wrapper">
  <div class="logo">
      <img src="{% static 'img/icone.png'%}" alt="">
  </div>
  <div class="text-center mt-4 name">
      GUARDIAN KEYS
  </div>
  <form class="p-3 mt-3" method="post">
    {% csrf_token %} 
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="text" name="username" id="username" placeholder="Usuário">
      </div>
      <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" name="password" id="pwd" placeholder="Senha">
      </div>
      <button class="btn mt-3" type="submit">Login</button>
      {% for k, v in form.errors.items %}
        {{ v }}
      {% endfor %}
  </form>
  
</div>
{% endblock %}