{% extends 'base.html' %}
{% load static %}
{% block content%}

    <div class="col-8 m-auto pt-2 pb-2 text-center card rounded bg-light mb-4">

    <h1>DETALHES DA CHAVE</h1>
    
    </div>

    <div class="col-8 m-auto pt-1 pb-1 text-center card rounded bg-light mb-4">
      <table class="table table-striped">
        
        <tbody>
            
              <tr>
                <td style="text-align: left;"><strong>Descrição: </strong>{{db.descricao}}</td>
              </tr>
              <tr>
                <td style="text-align: left;"><strong>Status: </strong>{{db.status}}</td>
              </tr>
              <tr>
                <td style="text-align: left;"><strong>Cod. Barra: </strong>{{db.codbarra}}</td>
              </tr>
            
        </tbody>
      </table>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center ">
        
        <a class="btn btn-danger" style="width: 150px;" href="/chave_index"> Voltar </a>
        
        
    </div>

{% endblock %}