{% extends 'base.html' %}
{% load static %}
{% block content%}

<div style="padding-top: 2px; padding-bottom: 20px;"  class="col-8 m-auto text-center ">
    
     <img style=" display: inline-flex; margin-right: 50px; width: 150px;" src="{% static 'img/EMPRESTIMO.png'%}" alt=""> 
     <img style="display: inline-flex; margin-right: 50px; width: 150px;" src="{% static 'img/DEVOLUCAO.png'%}" alt="">
    
    
</div>

<div class="col-8 m-auto pt-2 pb-2 card rounded bg-light text-center mb-4">
    <h1>CHAVES EMPRESTADAS</h1>
</div>

<div class="col-8 m-auto pt-2 pb-2 card rounded bg-light">
    <div class="row m-auto">
        
        <div class="col-md-3 mt-2 mb-2">
            <div class="card" style="background-color: aquamarine;">
                <div class="card-body">
                    <h3 class="card-title text-center">Chave: CGTI</h3>
                    <h5 class="card-title text-center">Servidor: Fernando Macedo Lopes</h5>
                    <p class="card-title text-center">Data: 15/11/2023</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-2 mt-2">
            <div class="card" style="background-color: aquamarine;">
                <div class="card-body">
                    <h3 class="card-title text-center">Chave: CGTI</h3>
                    <h5 class="card-title text-center">Servidor: Fernando Macedo Lopes</h5>
                    <p class="card-title text-center">Data: 15/11/2023</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-2 mt-2">
            <div class="card" style="background-color: aquamarine;">
                <div class="card-body">
                    <h3 class="card-title text-center">Chave: CGTI</h3>
                    <h5 class="card-title text-center">Servidor: Fernando Macedo Lopes</h5>
                    <p class="card-title text-center">Data: 15/11/2023</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-2 mt-2">
            <div class="card" style="background-color: aquamarine;">
                <div class="card-body">
                    <h3 class="card-title text-center">Chave: CGTI</h3>
                    <h5 class="card-title text-center">Servidor: Fernando Macedo Lopes</h5>
                    <p class="card-title text-center">Data: 15/11/2023</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-2 mt-2">
            <div class="card" style="background-color: aquamarine;">
                <div class="card-body">
                    <h3 class="card-title text-center">Chave: CGTI</h3>
                    <h5 class="card-title text-center">Servidor: Fernando Macedo Lopes</h5>
                    <p class="card-title text-center">Data: 15/11/2023</p>
                </div>
            </div>
        </div>
        

        <div class="col-md-3 mb-2 mt-2">
            <div class="card" style="background-color: aquamarine;">
                <div class="card-body">
                    <h3 class="card-title text-center">Chave: CGTI</h3>
                    <h5 class="card-title text-center">Servidor: Fernando Macedo Lopes</h5>
                    <p class="card-title text-center">Data: 15/11/2023</p>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}