{% extends 'base.html' %}
{% load static %}
{% block content%}

<div class="col-10 m-auto pt-2 pb-2 text-center ">
    <a class="btn btn-primary h-25 p-2" href=""> Servidor</a>
    <a class="btn btn-primary h-25 p-2" href=""> Chave</a>
    <a class="btn btn-primary h-25 p-2" href=""> Empréstimo</a>
    <a class="btn btn-primary h-25 p-2" href=""> Devolução</a> 
    <hr>
</div>

<div class="col-10 m-auto pt-2 pb-2" style="display: flex">
    
    <div class="card" style="width: 18rem; background-color:aquamarine;">
        <div class="card-body">
            <h3 class="card-title text-center">Chave: CGTI</h5>          
            <h5 class="card-title text-center">Servidor: Fernando Macedo Lopes</h5>
            <P class="card-title text-center">Data: 15/11/2023</p>       
        </div>
    </div>
      
</div>
{% endblock %}