{% extends 'base.html' %}
{% load static %}
{% block content%}

    <div class="col-10 m-auto pt-2 pb-2 text-center card rounded bg-light mb-4">

      <h1>CADASTRAR NOVO SERVIDOR</h1>
    
    </div>

    <div class="col-10 m-auto pt-2 pb-2 text-center card rounded bg-light mb-4">
      <form>

        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="nome" class="form-control" id="nome" placeholder="Digite seu nome">          
        </div>        
        
    </div>

        <div class="col-10 m-auto pt-2 pb-2 text-center ">
          <a class="btn btn-primary" href="servidor_create/"> Cadastrar </a>
          <a class="btn btn-danger" href="/"> Voltar </a>
        </div>
        
      </form>

{% endblock %}
Pi19gao05pinuX

Pi19gao05pinuXPi19gao05pinuX





















Pi19gao05pinuX

